:root {
  --timberwolf: #dbd3d8;
  --tekhelet: #3d348b;
  --flash-white: #eff1f3;
  --xanthous: #e6af2e;
  --black: #2b2826;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-roboto: 'Roboto', monospace;
}

/* Header Styles */

header {
  background-color: var(--tekhelet);
  color: var(--flash-white);
  text-align: center;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span {
  font-family: var(--font-montserrat);
  font-size: 2rem;
}

header img {
  max-width: 3em;
  margin: 0 1em;
}

/* Hamburguer Navigation Styles */

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: var(--flash-white);
}

#menu::before {
  content: '☰';
}

#menu.open::before {
  content: '✖';
  color: var(--xanthous);
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  background-color: var(--black);
  color: var(--flash-white);
}

.navigation a {
  display: none;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--flash-white);
}

.navigation a:hover {
  background-color: var(--flash-white);
  color: var(--tekhelet);
  font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
  display: block;
}

/* Navigation Styles */

nav {
  background-color: var(--black);
  margin: 0 auto;
  max-width: 800px;
}

nav ul {
  list-style-type: none;
}

nav a {
  display: block;
  color: var(--flash-white);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Main Styles */

main {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 1024px;
  background-color: var(--timberwolf);
}

main h1 {
  text-align: center;
}

.menu {
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: var(--black);
  text-align: center;
}

.menu button {
  padding: 1rem;
  font-weight: 700;
}

section {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: #eee;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
  align-items: center;
}

.grid section {
  text-align: center;
}

.grid img {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #333;
}

.grid section > * {
  margin: 0.1rem;
}

.grid h3 {
  color: var(--tekhelet);
}

.list {
  display: flex;
  flex-direction: column;
}

.list section {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0.25rem;
}

.list section > * {
  margin: 0 1rem;
}

.list section img {
  display: none; /* smaller viewports only */
}

.list section h3 {
  font-size: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
  background-color: var(--xanthous);
}

section h3 {
  font-size: 1.5rem;
}

section p {
  font-weight: 600;
  font-size: smaller;
}

section a {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 0.85rem;
  color: navy;
  letter-spacing: 1.1pt;
}

img {
  max-width: 100%; /* Images are jerks - Seattle*/
}

/* Footer Styles */
footer {
  background-color: var(--tekhelet);
  color: var(--timberwolf);

  width: 100vw;
  height: 10vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > p {
  margin: 3px auto;
}

footer > p#lastModified {
  color: var(--xanthous);
}
